config.log
config.status
config.h
config.cache
config.intl
*.a
*.la
*.lo
.deps
.libs
stamp-h
stamp-h1
stamp-picdir
stamp-lib
stamp-python
stamp-ofiles
stamp-syscalls
stamp-xml
Makefile
BLD-POTFILES
SRC-POTFILES
libtool
bfd/po/Makefile.in
gdb/.gdbinit
gdb/data-directory/python/
gdb/data-directory/syscalls/
gdb/gnulib/arg-nonnull.h
gdb/gnulib/c++defs.h
gdb/gnulib/string.h
gdb/gnulib/warn-on-use.h
gdb/gnulib/wchar.h
gdb/nm.h
opcodes/po/Makefile.in
opcodes/po/POTFILES
serdep.tmp
sim/igen/igen
sim/mips/.gdbinit
sim/mips/engine.c
sim/mips/engine.h
sim/mips/icache.c
sim/mips/icache.h
sim/mips/idecode.c
sim/mips/idecode.h
sim/mips/irun.c
sim/mips/itable.c
sim/mips/itable.h
sim/mips/model.c
sim/mips/model.h
sim/mips/semantics.c
sim/mips/semantics.h
sim/mips/stamp-tvals
sim/mips/support.c
sim/mips/support.h
sim/mips/tmp-igen
